$for-desktop: 960px;

.characters {
  padding-left: 0;

  .card {
    flex: 22%!important;
    @media (min-width: $for-desktop) {
      margin: 0 10px 10px 0!important;
    }

    .card-body a {
      text-decoration: none;
    }
  }

  .badge {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}


//pagination style
.container.paginate {
  display: flex;
  list-style: none;
  justify-content: center;
}
.page {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}
.active {
  border: 2px solid #000;
  font-weight: bold;
}
.previous {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.break {
  padding: 10px;
}
.next {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
//